.messagesContainer {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-auto-flow: row;
}
.emojiSelector {
  position: absolute;
  left: 1rem;
  bottom: 4rem;
}
.emoji {
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  margin-top: -0.4rem;
}
